{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSameLine": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"]
}
